opencensus-ext-prometheus
opencensus>=0.11.4
prometheus-client
python-ldap
pyyaml
watchfiles

# Only needed for the Stackdriver exporter, and installed optionally via
# setup.py's "stackdriver" extra rather than as part of the default install.
# grpcio>=1.47.0
# opencensus-ext-stackdriver==0.8.0
